<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{{ app.name }}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet" />
    <link href="/static/img/favicon/favicon.ico" rel="icon" />
    <script src="/static/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
</head>

<body class="demo-bg-{{ app.color }}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">{{ app.name }}</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" href="/">
                    <i class="fas fa-home"></i>
                    &nbsp;
                    Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/info">
                    <i class="fas fa-wrench"></i>
                    &nbsp;
                    Info
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/echo">
                  <i class="fas fa-volume-up"></i>
                    &nbsp;
                    Echo
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/help" type="text/html">
                  <i class="fas fa-info-circle"></i>
                    &nbsp;
                    Help
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="pt-5">
        <a href="https://gitlab.com/malfter/demo-app">
            <img src="../static/img/logo-125x125.png" class="rounded mx-auto d-block" alt="Logo">
        </a>
    </div>
    <h1 class="text-center m-3">{{ app.name }}</h1>
    <div class="container body-content">{% block content %}{% endblock %}</div>
</body>

<footer class="text-center fixed-bottom bg-light">
    <div class="p-2 demo-fs-7">
        Build: {{ app.build_rev }} - {{ app.build_date }}
        &nbsp;|&nbsp;
        <a href="mailto:git@alfter-web.de">Author: Markus Alfter</a>
    </div>
</footer>

</html>